<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RTMProxy</title>
    <link href="~/lib/bootstrap/scss/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <main class="container">
        @RenderBody()
    </main>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/home_index.js" type="text/javascript"></script>
</body>
</html>